<link href="~/css/IndexStyle.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<table>
    <tbody>
        <tr>
            <td style="height:2vh;">
            </td>
        </tr>
        <tr>
            <td class="blurFilter">
                <div>
                    <img class="ImageStyle" src="~/images/_MainImages/ProgramsIconS.png" alt="Alternate Text" />
                </div>
            </td>
            <td class="blurFilter">
                <div class="scrollmenu">
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Programs/PAL/Screenshot_1.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Programs/PCP/Screenshot_1.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Programs/StepChat/Screenshot_2.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Programs/PCP/Screenshot_4.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Programs/WinViewer/Screenshot_2.png" alt="Alternate Text" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="height:2vh;">
            </td>
        </tr>
        <tr>
            <td class="blurFilter">
                @*<h2 class="Rotate_90d">Games</h2>*@
                <div>
                    <img class="ImageStyle" src="~/images/_MainImages/GamesIconS.png" alt="Alternate Text" />
                </div>
            </td>
            <td class="blurFilter">
                <div class="scrollmenu">
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Games/CoinCollector/Screenshot_5.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Games/ABGames_GameJam/Screenshot_1.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Games/CoinCollector/Screenshot_1.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Games/PacMan/Screenshot_1.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Games/Strategy/Screenshot_1.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Games/Tanks/Screenshot_1.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Games/Tetris/Screenshot_2.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Games/TheRatPipeRepairman/Screenshot_1.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Games/TicTacToe/Screenshot_1.png" alt="Alternate Text" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="height:2vh;">
            </td>
        </tr>
        <tr>
            <td class="blurFilter">
                @*<h2 class="Rotate_90d">Games</h2>*@
                <div>
                    <img class="ImageStyle" src="~/images/_MainImages/SitesIconS.png" alt="Alternate Text" />
                </div>
            </td>
            <td class="blurFilter">
                <div class="scrollmenu">
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Sites/MySite/Screenshot_1.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img class="CaruselItemStyle" src="~/images/Projects/Sites/WVRCorp/Screenshot_2.png" alt="Alternate Text" />
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>