.headerLabel {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 7vh;
    font-weight: bold;
    /*color: #4cd137;*/
    /*color: #e84118;*/
    color: #e84118;
}
.ErrorLabel {
    color: #c23616;
    margin: 0;
    padding: 0;
    font-size: x-large;
}
.FormInput {
    color: #2f3640;
    background-color: #7f8fa6;
    font-size: x-large;
    font-weight: bold;
}

input {
    text-align: center;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:link {
    text-decoration: none;
}

input:visited {
    text-decoration: none;
}

input:hover {
    color: #4cd137;
    text-decoration: none;
}

input:active {
    text-decoration: none;
}

.SubmitInput {
    color: #e84118;
    font-size: xx-large;
    border-radius: 10px;
}

SubmitInput:hover {
    color: #4cd137;
}

FormInput:active {
    text-align: center;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

span {
    color: #fbc531;
    margin: 0;
    padding: 0;
    font-size: xx-large;
}

label {
    color: #e84118;
    margin: 0;
    padding: 0;
    font-size: xx-large;
}
