<link href="~/css/AdminPanel_IndexStyle.min.css" rel="stylesheet" />
<div class="row PadMar_0 blurFilter" style="margin-top: 2vh;">
    <div class="col-md-1 PadMar_0"></div>
    <div class="col-md PadMar_0">
        @*<h1 class="mainLabel">Configure Project</h1>*@
        <br>
        <a class="customA" asp-area="" asp-controller="Main" asp-action="DownloadResume">Add new game</a><br>
        <a class="customA" asp-area="" asp-controller="Main" asp-action="DownloadResume">Add new program</a><br>
        <a class="customA" asp-area="" asp-controller="Main" asp-action="DownloadResume">Add new site</a><br>
        <a class="customA" asp-area="" asp-controller="Main" asp-action="DownloadResume">View all entries in "AboutMe" table</a><br>
        <a class="customA" asp-area="" asp-controller="Main" asp-action="DownloadResume">View all my projects</a><br>
        <a class="customA" asp-area="" asp-controller="Main" asp-action="DownloadResume">Create new entry in "AboutMe" table</a><br>

    </div>
    <div class="col-md PadMar_0">
        <a class="customA" asp-area="" asp-controller="Game" asp-action="Index">
            <img src="~/images/_AdminPanel/SkullDecore.png" alt="Decore" class="decoreImage" />
        </a>
    </div>
</div>